html, body {
  margin: 0;
  padding: 0;
  height:100%;

  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  
  background:rgb(198, 48, 48);
}
canvas {

  display: block;

}

input{
  margin-top:20px;
  height:30px;
  width:400px;
  border-radius:15px;
  padding:0 10px;
}

.popup{
  postion:fixed;
  left:0;
  top:0;
  width:100%
  height:100%;
  background:rgba(0,0,0,0.5);
}

.inner{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  background:white;
  min-width:300px;
  min-height:200px;

  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding:30px;
}

button{
  margin-top:20px;
  padding:10px 20px;
  border-radius:20px;
}


@media (max-width: 768px) {
    .your-touch-area-class {
        /* 모바일 전용 스타일 */
        width: 100%;
        height: 100%;
    }
}
